$md--sizes: (
  a: auto,
  i: inherit,
  r:  calc(0.5vw + 24px),
  n: 0,
  1: 1px,
  2: 2px,
  3: 4px,
  4: 8px,         
  5: 16px, // 20
  6: 24px,
  7: 36px,
  8: 40px,
  9: 48px,
  10: 56px,
  11: 64px,
  12: 72px,
  13: 96px,
  14: 128px,
  15: 300px,
);
$md--sizes-c: (
  f: 100%,
  vw: 100vw,
  vh: 100vh,
);

$font--sizes: (
  1 : 95px,
  2 : 84px,
  3 : 72px,
  4 : 60px,
  5 : 48px,
  6 : 36px,
  7 : 29px,
  8 : 24px,
  9 : 17px,
  10: 16px,
  11: 14px,
  12: 12px,
  13: 10px,
  14: 06px,
);