// transition
.--env {
    --tr-timing: 200ms;
    --tr-props: all;
    --tr-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.\> {
    @include _($--transition--pseudo-defealt) {
        transition-property: var(--tr-props);
        transition-timing-function: var(--tr-function);
        transition-duration: var(--tr-timing);
        animation-duration: var(--tr-timing);
    }
}

.\>\> {
    @include _($--transition--pseudo-defealt) {
        transition-property: var(--tr-props);
        transition-timing-function: var(--tr-function);
        transition-duration: 250ms;
        animation-duration: 250ms;
    }
}

.\>\>\> {
    @include _($--transition--pseudo-defealt) {
        transition-property: var(--tr-props);
        transition-timing-function: var(--tr-function);
        transition-duration: 300ms;
        animation-duration: 300ms;
    }
}
//
.\>-n {
    transition: none;
}

.\>-i {
    transition: inherit;
}
// 
.-\>>.\<- ,.\<- {
    --element: 1;
}
.h\:-\>:hover>.h\:\<-,
.h\:\<-:hover {
    --element-hover: 1;
}
.a\:-\>:active>.a\:\<-,
.a\:\<-:active {
    --element-active: 1;
}
.f\:\<-:focus {
    --element-focus: 1;
}