

.-d-f {
    display: flex
}

.-d-g {
    display: grid
}

.-d-t {
    display: table
}

.-d-ib {
    display: inline-block
}

.-d-ig {
    display: inline-grid
}

.-d-if {
    display: inline-flex
}

.-d-it {
    display: inline-table
}

.-d-uns {
    display: unset
}

// Box...
.b {
    @extend .-d-f;
}
.b-fg {
    flex-grow: 1;
}

.b-fg-0 {
    flex-grow: 0;
}

.b-fs {
    flex-shrink: 0;
}

.b-fs-0 {
    flex-shrink: 0;
}

.b-fw {
    @extend .b;
    flex-wrap: wrap
}

.b-fw-n {
    @extend .b;
    flex-wrap: nowrap
}


// spacer
.b-sp {
    flex: 1 1 auto;
}

//  align
.b-a-c,
.b-c {
    @extend .b;
    align-items: center;
}

.b-a-s,
.b-s {
    @extend .b;
    align-items: flex-start;
}

.b-a-e,
.b-e {
    @extend .b;
    align-items: flex-end;
}

.b-a-sb {
    @extend .b;
    align-items: space-between;
}

.b-a-sa {
    @extend .b;
    align-items: space-around;
}

.b-a-se {
    @extend .b;
    align-items: space-evenly;
}


//
.b-j-c,
.b-c {
    @extend .b;
    justify-content: center;
}

.b-j-s,
.b-s {
    @extend .b;
    justify-content: flex-start;
}

.b-j-e,
.b-e {
    @extend .b;
    justify-content: flex-end;
}

.b-j-sb {
    @extend .b;
    justify-content: space-between;
}

.b-j-sa {
    @extend .b;
    justify-content: space-around;
}

.b-j-se {
    @extend .b;
    justify-content: space-evenly;
}


// align
.a-n {
    vertical-align: initial;
    text-align: initial
}

.a-r {
    text-align: right
}

.a-s {
    text-align: var(--dir-start)
}

.a-l {
    text-align: left
}

.a-e {
    text-align: var(--dir-end)
}

.a-t {
    vertical-align: top
}

.a-j {
    text-align: justify
}

.a-b {
    vertical-align: bottom
}


.a-c-x,
.a-c {
    text-align: center
}

.a-c-y,
.a-c {
    vertical-align: middle
}

@include __($--box--screens-defealt) {

    // float
    .f-n {
        @include _ {
            float: none
        }
    }

    .f-i {
        @include _ {
            float: inherit
        }
    }

    .f-r {
        @include _ {
            float: right
        }
    }

    .f-l {
        @include _ {
            float: left
        }
    }

    .f-s {
        @include _ {
            float: var(--dir-start)
        }
    }

    .f-e {
        @include _ {
            float: var(--dir-end)
        }
    }

    // display
    .-d-b {
        @include _ {
            display: block !important
        }
    }

    .-d-n {
        @include _ {
            display: none !important
        }
    }

    .-d-i {
        @include _ {
            display: inherit
        }
    }

    // box
    .b-rw,
    .b-x {
        @include _ {
            @extend .b;
            flex-direction: row;
        }
    }

    .b-cl,
    .b-y {
        @include _ {
            @extend .b;
            flex-direction: column;
        }
    }
}