$screens-sizes: ("s": 479px, "m": 480px, "l": 840px, "xl": 1201px);
// ii-ss $current_screen: "screen_size" !global;
$current_screen: "screen_size" !default;
@mixin __($screens: "s m l") {
    @each $screen in str-split($screens, " ") {
        $current_screen: $screen !global;
        @if $screen=="s" {
            @content
        } @else {
            @media only screen and (min-width: map-get($screens-sizes, $screen)) {
                @content 
            }
        }
    }
}

@mixin _($props: $current_screen, $from: 2, $start: ".", $end: "") {
    $selecterName: "" !default;

    $onNormal: false !default;
    $onHover: false !default;
    $onFocus: false !default;
    $onActive: false !default;

    @each $prop in str-split($props, " ") {


        & {
            @if $prop=="s"or $prop=="n" {
                $onNormal: true;
            }

            @if $prop=="h" {
                $onHover: true;
            }

            @if $prop=="f" {
                $onFocus: true;
            }

            @if $prop=="a" {
                $onActive: true;
            }

        }

        @if $prop !="s"and $prop !="n" {
            @if $prop=="m"or $prop=="l"or $prop=="xl" {
                @at-root #{$start+$prop+"\\:"+str-slice(#{&}, $from)+$end} {
                    @content
                }
            }
        }
    }

    & {
        $selecterName: #{&};
        @if $onNormal {
        @content
        }

        @if $onHover {
            @at-root #{$start+"h\\:"+str-slice($selecterName, $from)+$end+":hover"} {
                @extend #{$selecterName}
            }
        }

        @if $onFocus {
            @at-root #{$start+"f\\:"+str-slice($selecterName, $from)+$end+":focus"} {
                @extend #{$selecterName}
            }
        }

        @if $onActive {
            @at-root #{$start+"a\\:"+str-slice($selecterName, $from)+$end+":active"} {
                @extend #{$selecterName}
            }
        }

    }
}
