::placeholder,
:focus::placeholder {
    color: currentColor;
    opacity: 0.5;
    transition: color 1s ease
}

.fld {
    @extend .\>\>\>;
    height: 36px !important;

    &:not(.fld-n) {
        background-image: linear-gradient(rgb(149, 117, 205), rgb(149, 117, 205));
        background-image: linear-gradient(var(--clr-s, rgb(149, 117, 205)), var(--clr-s, rgb(149, 117, 205))), linear-gradient(to right, rgba(135, 135, 135, 0.3), rgba(111, 111, 111, 0.35), rgba(135, 135, 135, 0.3));
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    border: none;
    background-color: transparent;
}

.fld:not(.fld-n):focus {
    background-size: 100% 2px, 100% 1px;
}

input,
textarea,
select {
    outline: 0;
    color: inherit;
}

[dark] select option {
    background-color: black;
    color: black;
}

/*
.fld {
    width: 100%;
    height: 36px;
    box-shadow: none;
    appearance: none;
    outline: none;
}

.unt-fld {
    width: 100%;
    display: block;
    position: relative;
    font-size: 16px;
}



.fld-srch {
    transition-duration: .3s;
    transition-property: background-color, box-shadow, color;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
}

.wv-bg .fld-srch:focus {
    transition-delay: .7s, 1s, .1s;
}

.fld-srch:focus,
[fld="focus"] .fld-srch {
    color: black;
    background-color: white;
}

[fld="focus"] .fld-srch-i {
    color: black;
}

//

.fld-inv.fld-srch {
    color: black;
    background-color: rgba(200, 200, 200, 0.2);
}

.wv-bg .fld-inv.fld-srch:focus {
    transition-delay: .7s, 1s, .1s;
}

.fld-inv.fld-srch:focus,
[fld="focus"] .fld-inv.fld-srch {
    color: white;
    background-color: black;
}

[fld="focus"] .fld-inv.fld-srch-i {
    color: white;
}




.fld:focus~.fld-lbl {
    color: rgb(149, 117, 205);
    color: var(--clr-s, rgb(149, 117, 205));
}

.unt-fld {
    width: 100%;
    display: block;
    position: relative;
    font-size: 16px;
}

.fld-txt {
    position: absolute;
    top: -25px;
    line-height: 36px;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top right;
}

.fld:invalid:not(:focus)+.fld-txt {
    transform: translate(0, 24px) scale(1) !important;
}
*/