.-bla {
    @extend .rlt, .-o-h, .-r-i, .c-17;
}

.-bla::before {
    @extend .anm,.abs, .\.f, .-grdnt-x;
    content: " ";
    animation-name: anm-sld;
    --anm--sld-opacity-from: 1;
    --anm--sld-opacity-to: 1;
    --anm--sld-translate-from: -100%, 0;
    --anm--sld-translate-to: 100%, 0;
    --anm-duration: 1.25s;
    --anm-count: infinite;
}
