@import "variables";
@import "functions";
@import "mixins";
/*
 * Physia css color system
 * {c|d|l}-{*}-{*}: background color لون الخلفية
 * {c|d|l}-{*}-t  : text color لون النص
 * {c|d|l}-{*}-b  : border color لون الحدود
 * Ex: <input class="c-p c-0-t l-0 d-15"/>
 */
/*
 * تدرج ألوان من الأبيض إلى الأسود، الهدف منها تخصيصي الوضع المضلم والوضع العادي
 * يمكن استعماله أيضا لتحديد تدرج معين
 * dark and light theme helpers
 * you can use " to select color black to white
 */ 
 .c-c,
 .c-s,
 .c-n,
 .c-17 {
     color: #000;
 }
@for $dc from 0 to 21 {
    .c#{$dc} {
        background-color: var(--theme-colors-#{$dc})
    }

    .c#{$dc}-t {
        color: var(--theme-colors-#{$dc})
    }
    @if $--colors--active-border {
        .c#{$dc}-b {
            border-color: var(--theme-colors-#{$dc})
        }
    }
}

@for $dc from 0 to 21 {
    $color: hsl(0, 0, $dc*5);

    .--light {
        --theme-colors-#{$dc}: #{$color};
    }

    .--dark {
        --theme-colors-#{$dc}: #{invert($color)};
    }

    .d#{$dc},
    .l#{$dc}{
        background-color: var(--theme-colors-#{$dc})
    }
    .d#{$dc}-t,
    .l#{$dc}-t{
        color: var(--theme-colors-#{$dc})
    }
    @if $--colors--active-border {
        .d#{$dc}-b,
        .l#{$dc}-b{
            border-color: var(--theme-colors-#{$dc})
        }
    }
    // dynamic theme colores
    @include _cl-init_color_full(c-#{$dc}, var(--theme-colors-#{$dc}));

}

@include _cl-color_palette("p", $--colors--primaryColor, "5");
@include _cl-color_palette("s", $--colors--secondaryColor, "3");

@include _cl-colors();

@each $name,
$color in $cl--colors {
    @include _cl-init_color_full(c-#{$name}, $color);
}

// ألوان تحديد الأوضاع، خطأ، تحذير، تنبيه...إلخ
// static colors: wrong, error,...
:root {
    @each $name,
    $color in $cl--static-colors {
        --c-#{$name}: $color;
    }
}

@each $name,
$color in $cl--static-colors {
    @include _cl-init_color(#{$name}, var(--c-#{$name}));

    .c-#{$name}-f {
        @include _cl-fill_color(var(--c-#{$name}));
    }
}

//
::selection,
::-moz-selection {
    color: white;
    background-color: var(--c-s);
    caret-color: currentColor;
}
