.rng {
    --rng-h: 2px;
    --rng-w: 2px;
    --rng-r: 0px;
    --rng-translate3d: translate3d(0, 0, 0);
    appearance: none;

    background-color: transparent;

    //&[orient="vertical"]::-moz-range-track {
    //    --rng-translate3d: translate3d(0, -50%, 0);
    //}


    &[orient="vertical"]::-moz-range-track {
        width: var(--rng-w);
    }

    &[orient="vertical"]::-webkit-slider-runnable-track {
        width: var(--rng-w);
    }

    &[orient="vertical"]::-moz-range-progress {
        width: var(--rng-w);
    }

    &:not([orient="vertical"])::-webkit-slider-runnable-track {
        height: var(--rng-h);
    }

    &:not([orient="vertical"])::-moz-range-track {
        height: var(--rng-h);
    }

    &:not([orient="vertical"])::-moz-range-progress {
        height: var(--rng-h);
    }

    &::-moz-range-track {
        background-color: rgba(131, 131, 131, 0.5);
        border-radius: var(--rng-r);
    }

    &::-moz-range-progress {
        background-color: var(--c-s);
        border-radius: var(--rng-r);
    }

    &::-moz-range-thumb {
        background-color: var(--c-s);
        height: 14px;
        width: 14px;
        border-radius: 10px;
        border-width: 0;
        transition: all 200ms;
        transform: var(--rng-translate3d) scale(1);
    }

    &::-webkit-slider-thumb {
        background-color: var(--c-s);
        height: 14px;
        width: 14px;
        border-radius: 10px;
        border-width: 0;
        transition: all 200ms;
        transform: var(--rng-translate3d) scale(1);
        appearance: none;
        margin-top: -5px;

    }

    &::-webkit-slider-runnable-track {
        background-color: rgba(131, 131, 131, 0.5);
        border-radius: var(--rng-r);
    }


    &:active::-moz-range-thumb {
        transform: var(--rng-translate3d) scale(1.5);

    }

    &:active::-webkit-slider-thumb {
        transform: var(--rng-translate3d) scale(1.5);
    }
}