[wv--name="area"] {
    position: relative;
}

.wv--ripples {
    pointer-events: none;
    --wv-opacity-from: 0.1;
    --wv-opacity-to: 0.21;
    border-radius: inherit;
    overflow: hidden;

}

.wv--ripple {
    pointer-events: none;
    border-radius: 100%;
    position: absolute;
    width: calc(var(--wv-diameter) * 1px);
    height: calc(var(--wv-diameter) * 1px);
    top: calc(var(--wv-y) * 1px);
    left: calc(var(--wv-x) * 1px);
    background-color: currentColor;
    opacity: 0.21;
    transform: translate(-50%, -50%) scale(1);
}


.wv-crcl .wv--ripple {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    animation-timing-function: cubic-bezier(.25, 1, .25, .9) !important
}


.wv--ripple-in {
    animation-name: wv--ripple-in;
}

.wv--ripple-out {
    --wv-opacity-from: 0;
    animation-name: wv--ripple-out;
}

.wv-bg>.wv--ripples .wv--ripple {
    --wv-opacity-to: 1;
    --wv-opacity-from: 1;
    background: currentColor;
}

.wv--ripple-out.wv--ripple-ghost.wv--ripple-ghost-confirmed {
    --wv-opacity-to: 0;
    --wv-opacity-from: 0;
}

@keyframes wv-cntr-ripple-in {
    0% {
        width: calc(var(--wv-diameter) * 1px);
        height: calc(var(--wv-diameter) * 1px);
        top: calc(var(--wv-y) * 1px);
        left: calc(var(--wv-x) * 1px);
        opacity: var(--wv-opacity-from, 0.1);
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        top: 50%;
        left: 50%;
        opacity: var(--wv-opacity-to, 0.21);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes wv--ripple-in {
    0% {
        opacity: var(--wv-opacity-from, 0.1);
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: var(--wv-opacity-to, 0.21);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes wv--ripple-out {
    0% {
        opacity: var(--wv-opacity-to, 0.21);
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: var(--wv-opacity-from, 0.1);
        transform: translate(-50%, -50%) scale(1);
    }
}