// High-emphasis & Active icon
.s-h {
    opacity: var(--theme-status-h-opacity, .87);
}

// Medium-emphasis & Inactive icon & helper text
.s-m {
    opacity: var(--theme-status-h-opacity, .6);
}


// Disabled
.s-d {
    pointer-events: none !important;
    box-shadow: none;
    filter: grayscale(100);
    opacity: 0.3;
}

.s-s {
    opacity: .96;
    pointer-events: all;
}


@for $var from 0 to 10 {

    .o-#{$var} {
        @include _($--status--pseudo-defealt) {
            opacity: $var/10;
        }
    }
}