@include __($--ratio--screens-defealt) {


    .\31 \/1 {
        @include _ {
            padding-top: calc(100% + 100% / 1);
        }
    }

    // @if $current_screen=="s" {
    .\32 \/1 {

        @include _ {
            padding-top: calc(100% + 100% / 2);
        }
    }

    .\33 \/1 {

        @include _ {
            padding-top: calc(100% + 100% / 3);
        }
    }

    .\34 \/1 {

        @include _ {
            padding-top: calc(100% + 100% / 4);
        }
    }

    .\35 \/4 {

        @include _ {
            padding-top: calc(100% + 4 / 5 * 100%);
        }
    }

    .\33 \/4 {

        @include _ {
            padding-top: calc(100% + 3 / 4 * 100%);
        }
    }

    .\31 0\/16 {

        @include _ {
            padding-top: calc(100% + 10 / 16 * 100%);
        }
    }

    .\39 \/16 {

        @include _ {
            padding-top: calc(100% + 9 / 16 * 100%);
        }
    }

    //

    .\w\/h {

        @include _ {
            padding-top: calc(100% / var(--ratio-wh, --ratio, 1));
        }
    }

    .\31 \/1 {

        @include _ {
            padding-top: calc(100% / 1);
        }
    }

    .\31 \/2 {

        @include _ {
            padding-top: calc(100% / 2);
        }
    }

    .\31 \/3 {

        @include _ {
            padding-top: calc(100% / 3);
        }
    }

    .\31 \/4 {

        @include _ {
            padding-top: calc(100% / 4);
        }
    }

    .\34 \/5 {

        @include _ {
            padding-top: calc(4 / 5 * 100%);
        }
    }

    .\34 \/3 {

        @include _ {
            padding-top: calc(3 / 4 * 100%);
        }
    }

    .\31 6\/10 {

        @include _ {
            padding-top: calc(10 / 16 * 100%);
        }
    }

    // }

    .\31 6\/9 {
        @include _ {
            padding-top: calc(9 / 16 * 100%);
        }
    }
}

.rto {
    @extend .\.f,
    .abs;
}

.h\/w {
    padding-top: calc(100% + 100% / var(--ratio-wh, --ratio, 1));
}