// overflow
.-o-a,
.h\:-o-a {
    overflow: auto !important
}

// overflow
.-o-n {
    overflow: initial
}

.-o-x-h,
.-o-h {
    overflow-x: hidden;
}

.-o-x-v,
.-o-v {
    overflow-x: visible;
}

.h\:-o-x-a,
.-o-x-a {
    overflow-x: auto;
}


.-o-x-n {
    overflow-x: initial
}

.-o-y-h,
.-o-h {
    overflow-y: hidden;
}
.-o-y-v,
.-o-v {
    overflow-y: visible;
}
.h\:-o-y-a,
.-o-y-a {
    overflow-y: auto;
}

.-o-y-n {
    overflow-y: initial
}

.-o-x-s {
    overflow-x: scroll
}
.-o-y-s {
    overflow-y: scroll
}

.-o-s {
    overflow: scroll
}
// hover
@media not all and (hover: none) {
    .h\:-o-x-a,
    .h\:-o-y-a,
    .h\:-o-a {
        overflow: hidden;
    }

    .h\:-o-x-a:hover {
        overflow-x: auto !important
    }

    .h\:-o-y-a:hover {
        overflow-y: auto !important
    }

    .h\:-o-a:hover {
        overflow-y: auto !important
    }

}