h1 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 4.5rem);
    font-weight: 300;
    letter-spacing: -1px;
}

h2 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 3rem);
    font-weight: 300;
    letter-spacing: -0.5px;
}

h3 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 2rem);
    font-weight: 400;
    letter-spacing: 0px;
}

h4 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 1.8rem);
    font-weight: 400;
    letter-spacing: 0.25px;
}

h5 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 1.5rem);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 30px;
}

h6 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.8rem);
    font-weight: 300;
    letter-spacing: 0.15px;
    line-height: 25px;
}
// 
// text 1
.t-1 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 1.25rem);
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
}

// text 2
.t-2 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.2vw + 1.1rem);
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 24px;
}

// text 3
.t-3 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.81rem);
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
}
// text 4
.t-4 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.675rem);
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
}

// text 5
.t-5 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.5rem);
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
}

// Caption
.t-c {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.6rem);
    font-weight: 400;
    letter-spacing: 0.4px;
}

// Overline
.t-o {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.5rem);
    font-weight: 400;
    letter-spacing: 1.5px;
}

// Body 1
.t-b,
.t-b1 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.8rem);
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.55;
}

// Body 2
.t-b2 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.8rem);
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 1.4;
}

// Action Button nano
.t-a1 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.65rem);
    font-weight: 300;
    letter-spacing: 0px;
}

// Action Button small 
.t-a2 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.1vw + 0.8rem);
    font-weight: 300;
    letter-spacing: 0.5px;
}

// Action Button medium
.t-a,
.t-a3,
.btn,
.btn-n,
.btn-t {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.2vw + 0.8rem);
    font-weight: 500;
    letter-spacing: 0.75px;
}

// Action Button large
.t-a4 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.2vw + 0.9rem);
    font-weight: 400;
    letter-spacing: 0.5px;
}

// Action Button xlarge
.t-a5 {
    font-size: calc(var(--theme-font-edit-size, 0px) + 0.2vw + 1.1rem);
    font-weight: 500;
    letter-spacing: 0.5px;
}
// font weight
@for $value from 1 through 9 {
    .t-w#{$value} {
        font-weight: #{$value*100};
    }
}

// case
.CASE {
    text-transform: uppercase;
}

.case {
    text-transform: lowercase;
}

.Case {
    text-transform: capitalize;
}

// ellipsis
.\.\.\.n,
.\.\.\.,
.\.\.\.c {
    white-space: nowrap;
}

.\.\.\.,
.\.\.\.c {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.\.\.\.c {
    text-overflow: clip !important
}