@import "variables";
@import "mixins";

@include __($--model--screens-defealt) {

    .--env {
        @if $current_screen=="s" {
            --is-s: 1;
            --hide-s: none;
        }
    
        @else {
            --is-s: 0;
            --hide-s: initial;
        }
    
        @if $current_screen=="m" {
            --is-m: 1;
            --hide-m: none;
        }
    
        @else {
            --is-m: 0;
            --hide-m: initial;
        }
    
        @if $current_screen=="l" {
            --is-screen-l: 1;
            --hide-l: none;
        }
    
        @else {
            --is-l: 0;
            --hide-l: initial;
        }
    
        @if $current_screen=="xl" {
            --is-xl: 1;
            --hide-xl: none;
        }
    
        @else {
            --is-xl: 0;
            --hide-xl: initial;
        }
    }

    // position
    .rlt {
        @include _ {
            position: relative
        }
    }

    .abs {
        @include _ {
            position: absolute
        }
    }

    .stc {
        @include _ {
            position: sticky
        }
    }

    .fxd {
        @include _ {
            position: fixed
        }
    }

    .stt {
        @include _ {
            position: static
        }
    }


    .\.t,
    .\.y,
    .\.f {
        @include _ {
            top: 0 !important
        }
    }

    .\.b,
    .\.y,
    .\.f {
        @include _ {
            bottom: 0 !important
        }
    }

    .\.r,
    .\.x,
    .\.f,
    .--rtl .\.s,
    .--ltr .\.e {
        @include _ {
            right: 0 !important
        }
    }

    .\.l,
    .\.x,
    .\.f,
    .--rtl .\.e,
    .--ltr .\.s {
        @include _ {
            left: 0 !important
        }
    }

    .\.f {
        @include _ {
            width: 100%;
            height: 100%;
        }
    }

    .\.c-x {
        @include _ {
            right: 50%;
            transform: translateX(50%);
        }
    }

    .\.c-y{
        @include _ {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .\.c {
        @include _ {
            transform: translate(50%, -50%);
            // transform: translate(var(--dot-c-x,50%), var(--dot-c-y,50%))
            top: 50%;
            right: 50%;
        }
    }

    @each $_size,
    $value in $md--sizes {
        .\.t-#{$_size} {
            @include _ {
                top: $value !important
            }
        }

        .\.b-#{$_size} {
            @include _ {
                bottom: $value !important
            }
        }

        .\.r-#{$_size},
        .--rtl .\.s-#{$_size},
        .--ltr .\.e-#{$_size} {
            @include _ {
                right: $value !important
            }
        }

        .\.l-#{$_size},
        .--rtl .\.e-#{$_size},
        .--ltr .\.s-#{$_size} {
            @include _ {
                left: $value !important
            }
        }

        .w-#{$_size},
        .u-#{$_size} {
            @include _ {
                width: $value !important
            }
        }

        .h-#{$_size},
        .u-#{$_size} {
            @include _ {
                height: $value !important
            }
        }

        @if $_size !="a" {
            .lh-#{$_size} {
                @include _ {
                    line-height: $value !important
                }
            }

            // padding
            .p-#{$_size} {
                @include _ {
                    padding: $value;
                }
            }
        }

        // margin
        .m-#{$_size} {
            @include _ {
                margin: $value;
            }
        }
    }

    @each $_size,
    $value in $md--sizes {
        @if $_size !="a" {
            .p-x {
                @include _ {
                    padding-right: 0;
                }

                padding-left: 0;
            }

            .p-y {
                @include _ {
                    padding-top: 0;
                }

                padding-bottom: 0;
            }

            .p-t-#{$_size},
            .p-y-#{$_size} {
                @include _ {
                    padding-top: $value !important
                }
            }

            .p-b-#{$_size},
            .p-y-#{$_size} {
                @include _ {
                    padding-bottom: $value !important
                }
            }

            .p-r-#{$_size},
            .--rtl .p-s-#{$_size},
            .--ltr .p-e-#{$_size},
            .p-x-#{$_size} {
                @include _ {
                    padding-right: $value !important
                }
            }

            .p-l-#{$_size},
            .--ltr .p-s-#{$_size},
            .--rtl .p-e-#{$_size},
            .p-x-#{$_size} {
                @include _ {
                    padding-left: $value !important
                }
            }
        }

        // margin
        .m-x {
            @include _ {
                margin-right: 0;
                margin-left: 0;
            }
        }

        .m-y {
            @include _ {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .m-t-#{$_size},
        .m-y-#{$_size} {
            @include _ {
                margin-top: $value !important
            }
        }

        .m-b-#{$_size},
        .m-y-#{$_size} {
            @include _ {
                margin-bottom: $value !important
            }
        }

        .m-r-#{$_size},
        .--rtl .m-s-#{$_size},
        .--ltr .m-e-#{$_size},
        .m-x-#{$_size} {
            @include _ {
                margin-right: $value !important
            }
        }

        .m-l-#{$_size},
        .--ltr .m-s-#{$_size},
        .--rtl .m-e-#{$_size},
        .m-x-#{$_size} {
            @include _ {
                margin-left: $value !important
            }
        }
    }

    @for $i from 1 to 13 {
        .x#{$i} {
            @include _ {
                width: calc(100% * #{$i} / 12) !important;
            }
        }
    }

    @each $_size,
    $value in $md--sizes-c {
        .\.t-#{$_size} {
            @include _ {
                top: $value !important
            }
        }

        .\.b-#{$_size} {
            @include _ {
                bottom: $value !important
            }
        }

        .\.r-#{$_size},
        .--rtl .\.s-#{$_size},
        .--ltr .\.e-#{$_size} {
            @include _ {
                right: $value !important
            }
        }

        .\.l-#{$_size},
        .--rtl .\.e-#{$_size},
        .--ltr .\.s-#{$_size} {
            @include _ {
                left: $value !important
            }
        }

        .w-#{$_size},
        .u-#{$_size} {
            @include _ {
                width: $value !important
            }
        }

        .h-#{$_size},
        .u-#{$_size} {
            @include _ {
                height: $value !important;
            }
        }

        .lh-#{$_size} {
            @include _ {
                line-height: $value !important
            }
        }
    }

    @each $_size,
    $value in $font--sizes {
        .\##{$_size} {
            @include _ {
                font-size: $value !important
            }
        }
    }

    .u-v {
        @include _ {
            width: 100vw;
            height: 100vh
        }
    }

    .w-mx,
    .u-mx {
        @include _ {
            max-width: 100%;
        }
    }

    .w-mn,
    .u-mn {
        @include _ {
            min-width: 100%;
        }
    }

    .w-mnh,
    .u-mnh {
        @include _ {
            min-width: 100vh;
        }
    }
    .w-mnw,
    .u-mnw {
        @include _ {
            min-width: 100vw;
        }
    }

    .h-mx,
    .u-mx {
        @include _ {
            max-height: 100%;
        }
    }

    .h-mn,
    .u-mn {
        @include _ {
            min-height: 100%;
        }
    }
    .h-mnh,
    .u-mnh {
        @include _ {
            min-height: 100vh;
        }
    }
    .h-mnw,
    .u-mnw {
        @include _ {
            min-height: 100vw;
        }
    }
}