// display
.-d-n {
    display: none
}

.-d-b {
    display: block
}

.-d-f {
    display: flex
}

.-d-g {
    display: grid
}

.-d-t {
    display: table
}

.-d-ib {
    display: inline-block
}

.-d-ig {
    display: inline-grid
}

.-d-if {
    display: inline-flex
}

.-d-it {
    display: inline-table
}

.-d-uns {
    display: unset
}

.-d-i {
    display: inherit
}