@import "mixins";

.-b-1 {
    @include _($--shape--pseudo-defealt) {
        --b-width: 1px;
    }
}

.-b-2 {
    @include _($--shape--pseudo-defealt) {
        --b-width: 2px;
    }
}

.-b-3 {
    @include _($--shape--pseudo-defealt) {
        --b-width: 3px;
    }
}

.-b-s {
    @include _($--shape--pseudo-defealt) {
        --b-style: solid;
    }
}

.-b-d {
    @include _($--shape--pseudo-defealt) {
        --b-style: dotted;
    }
}

.-b {
    border: $--shape--border
}

.-b-n {
    border: none;
}

.-b-t,
.-b-y {
    border-top: $--shape--border
}

.-b-b,
.-b-y {
    border-top: $--shape--border
}

.-b-r,
.-b-x,
.--rtl .-b-s,
.--ltr .-b-e {
    border-right: $--shape--border
}

.-b-l,
.-b-x,
.--ltr .-b-s,
.--rtl .-b-e {
    border-left: $--shape--border
}

// after::befor
.-b-in {
    @extend .rlt;
}

.-b-in::after {
    content: " ";
    @extend .-r-i,
    .-pe-n,
    .abs,
    .\.f,
    .-z;
    border: $--shape--border;
    transition: inherit;
}

// radius
.-r-t-1 {
    border-radius: 2px 2px 0 0;
}

.-r-t-2 {
    border-radius: 4px 4px 0 0;
}

.-r-t-3 {
    border-radius: 8px 8px 0 0;
}

.-r-t-4 {
    border-radius: 20px 20px 0 0;
}

.-r-t-c {
    border-radius: 100px 100px 0 0;
}

.-r-b-1 {
    border-radius: 0 0 2px 2px;
}

.-r-b-2 {
    border-radius: 0 0 4px 4px;
}

.-r-b-3 {
    border-radius: 0 0 8px 8px;
}

.-r-b-4 {
    border-radius: 0 0 20px 20px;
}

.-r-b-c {
    border-radius: 0 0 100px 100px;
}

.-r-1,
.--rtl .-r-s-1,
.--ltr .-r-e-1 {
    border-radius: 0 2px 2px 0;
}

.-r-r-2,
.--rtl .-r-s-2,
.--ltr .-r-e-2 {
    border-radius: 0 4px 4px 0;
}

.-r-r-3,
.--rtl .-r-s-3,
.--ltr .-r-e-3 {
    border-radius: 0 8px 8px 0;
}

.-r-r-4,
.--rtl .-r-s-4,
.--ltr .-r-e-4 {
    border-radius: 0 20px 20px 0;
}

.-r-r-c,
.--rtl .-r-s-c,
.--ltr .-r-e-c {
    border-radius: 0 100px 100px 0;
}

.-r-l-1,
.--rtl .-r-e-1,
.--ltr .-r-s-1 {
    border-radius: 2px 0 0 2px;
}

.-r-l-2,
.--rtl .-r-e-2,
.--ltr .-r-s-2 {
    border-radius: 4px 0 0 4px;
}

.-r-l-3,
.--rtl .-r-e-3,
.--ltr .-r-s-3 {
    border-radius: 8px 0 0 8px;
}

.-r-l-4,
.--rtl .-r-e-4,
.--ltr .-r-s-4 {
    border-radius: 20px 0 0 20px;
}

.-r-l-c,
.--rtl .-r-e-c,
.--ltr .-r-s-c {
    border-radius: 100px 0 0 100px;
}

.-r-tl-1,
.--rtl .-r-te-1,
.--ltr .-r-ts-1 {
    border-radius: 2px 0 0 0;
}

.-r-tl-2,
.--rtl .-r-te-2,
.--ltr .-r-ts-2 {
    border-radius: 4px 0 0 0;
}

.-r-tl-3,
.--rtl .-r-te-3,
.--ltr .-r-ts-3 {
    border-radius: 8px 0 0 0;
}

.-r-tl-4,
.--rtl .-r-te-4,
.--ltr .-r-ts-4 {
    border-radius: 20px 0 0 0;
}

.-r-tl-c,
.--rtl .-r-te-c,
.--ltr .-r-ts-c {
    border-radius: 100px 0 0 0;
}

.-r-tr-1,
.--rtl .-r-ts-1,
.--ltr .-r-te-1 {
    border-radius: 0 2px 0 0;
}

.-r-tr-2,
.--rtl .-r-ts-2,
.--ltr .-r-te-2 {
    border-radius: 0 4px 0 0;
}

.-r-tr-3,
.--rtl .-r-ts-3,
.--ltr .-r-te-3 {
    border-radius: 0 8px 0 0;
}

.-r-tr-4,
.--rtl .-r-ts-4,
.--ltr .-r-te-4 {
    border-radius: 0 20px 0 0;
}

.-r-tr-c,
.--rtl .-r-ts-c,
.--ltr .-r-te-c {
    border-radius: 0 100px 0 0;
}

.-r-br-1,
.--rtl .-r-bs-1,
.--ltr .-r-be-1 {
    border-radius: 0 0 2px 0;
}

.-r-br-2,
.--rtl .-r-bs-2,
.--ltr .-r-be-2 {
    border-radius: 0 0 4px 0;
}

.-r-br-3,
.--rtl .-r-bs-3,
.--ltr .-r-be-3 {
    border-radius: 0 0 8px 0;
}

.-r-br-4,
.--rtl .-r-bs-4,
.--ltr .-r-be-4 {
    border-radius: 0 0 20px 0;
}

.-r-br-c,
.--rtl .-r-bs-c,
.--ltr .-r-be-c {
    border-radius: 0 0 100px 0;
}

.-r-b1,
.--rtl .-r-bs-1,
.--ltr .-r-be-1 {
    border-radius: 0 0 0 2px;
}

.-r-bl-2,
.--rtl .-r-bs-2,
.--ltr .-r-be-2 {
    border-radius: 0 0 0 4px;
}

.-r-bl-3,
.--rtl .-r-bs-3,
.--ltr .-r-be-3 {
    border-radius: 0 0 0 8px;
}

.-r-bl-4,
.--rtl .-r-bs-4,
.--ltr .-r-be-4 {
    border-radius: 0 0 0 20px;
}

.-r-bl-c,
.--rtl .-r-bs-c,
.--ltr .-r-be-c {
    border-radius: 0 0 0 100px;
}

.-r-1,
.-r {
    border-radius: 2px;
}

.-r-2 {
    border-radius: 4px;
}

.-r-3 {
    border-radius: 8px;
}

.-r-4 {
    border-radius: 20px;
}

.-r-c {
    border-radius: 100px;
}

.-r-f {
    border-radius: 100%;
}

.-r-i {
    border-radius: inherit;
}

.-r-n {
    border-radius: 0 !important
}