.unt,
.unt-n {
    @extend .-s-n, .rlt, .\>\>, .-d-if,.b-a-c;
}
.unt {
    &:not(.s-s) {
        @extend .-c-p;
    }
    &:not(.s-d)::before {
        content: " ";
        @extend .c-c, .-r-i,.-pe-n,.abs ,.\.f, .\>-i, .-z, .o-0;
    }
}
.unt.u-r i,
.unt.u-r,
.unt-n.u-r i,
.unt-n.u-r {
    @extend .t-u;
}

.unt:not(.s-s):hover::before {
    opacity: .08;
}

@media (min-width: 840px) {
    .unt:not(.s-s):active::before {
        opacity: .14;
        filter: brightness(90%);
    }
}

.unt-c {
    @extend .unt, .-r-c, .b-j-c;
}

.unt-s i {
    @extend .unt;
    font-size: 16px
}

a.unt {
    text-decoration: none;
    color: inherit;
}
