.drp {
    overflow: auto;
    position: absolute;
    top: calc(var(--mdl-offset-top) * 1px);
    left: calc(var(--mdl-offset-left) * 1px);
    right: calc(var(--mdl-offset-right) * 1px);
    bottom: calc(var(--mdl-offset-bottom) * 1px);
    max-width: calc(var(--mdl-max-width) * 1px);
    max-height: calc(var(--mdl-max-height) * 1px);
    min-width: calc(var(--mdl-min-width) * 1px);
    min-height: calc(var(--mdl-min-height) * 1px);
    transform-origin: var(--mdl-origin);
}

/* drw pnl drp */
.mdl-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    --an-scl-scale-from: 0.9;
    overflow: hidden;
    z-index: 1000;
}

.mdl-box:not([mdl="open"]):not([mdl="close"]) {
    pointer-events: none;
}

.mdl:not([mdl]),
.mdl[mdl="end"] {
    display: none;
}

.mdl {
    animation-duration: 0.2s;
}