// image
.-obj-cv {
    object-fit: cover;
}

.-obj-cn {
    object-fit: contain;
}

.-obj-y {
    @extend .h-a,
    .w-mx;
}

.-obj-x {
    @extend .w-a,
    .h-mx;
}

.-obj-xy {
    @extend .w-a,
    .h-a,
    .w-mx,
    .h-mx;
}

.-obj-crd {
    max-width: 50%;
}

.-obj-bx {
    @extend .rlt,
    .-obj-cn,
    .w-f;
    max-height: 70vh;
}

.-obj-bg {
    @extend .abs,
    .-obj-cv,
    .\.f;
    transform: scale(1.1);
    filter: blur(4px);
}

//
.-bg {
    @extend .-r-i, .-b-n, .\.f;
}

.-bg-fxd {
    background-attachment: fixed;
}

.-bg-lcl {
    background-attachment: local;
}

.-bg-scrl {
    background-attachment: scroll;
}

.-bg-cn {
    background-size: contain;
}

.-bg-cv {
    background-size: cover;
}

.-bg-rpt {
    background-repeat: repeat;
}

.-bg-rpt-n {
    background-repeat: no-repeat;
}