// resize
.-sz-n {
    resize: none
}

.-sz {
    resize: both
}

.-sz-y {
    resize: vertical
}

.-sz-x {
    resize: horizontal
}

// z-index
.-z-bg {
    z-index: -1;
}

.-z-n {
    z-index: 0;
}

.-z {
    z-index: 1;
}

.-z-1 {
    z-index: 10;
}

.-z-2 {
    z-index: 100;
}
.-z-3 {
    z-index: 1000;
}

.-z-4 {
    z-index: 5000;
}

.-z-t {
    z-index: 10000;
}

// cursor
.-c-n {
    cursor: not-allowed;
}

.-c-d {
    cursor: default;
}

.-c-w {
    cursor: wait;
}

.-c-m {
    cursor: move;
}

.-c,
.-c-p {
    cursor: pointer;
}

//  user select
.-s,
.-s-n {
    user-select: none;
}

.-s-a {
    user-select: all;
}

// Pointer events
.-pe-i {
    pointer-events: inherit !important
}

.-pe-n {
    pointer-events: none !important
}

.-pe {
    pointer-events: all !important
}

// Room
.-rm {
    pointer-events: none !important
}

.-rm>* {
    pointer-events: initial
}

//
.nll {
    border: none;
    background: none;
}

//
.ovrly {
    @extend .fxd, .\.f, .-z-3, .\>;
    background-color: rgba(0, 0, 0, 0.3);
}

.ovrly:not([ovrly="open"]):not([ovrly="close"]) {
    display: none;
}

// appearance
.-aprnc {
    appearance: none;
}
//
/*
[tt]:hover::before {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(50%);
    transition-delay: 0.2s;
}

[tt]::before {
    @extend .\>\>;
    content: attr(tt);
    position: absolute;
    background: rgba(96, 96, 96, 0.8);
    transform: scale(0) translateX(50%);
    right: 50%;
    bottom: 10px;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
    padding-bottom: 0px;
    padding-bottom: 2px;
    color: #fff;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
}
*/
