@mixin _elevation-mix($value, $isImportant:false) {
    $shadows: "" !default;

    @if $--elevation--active-umbra {
        $shadows:#{$shadows},#{map-get($el--umbra,$value)} $el--umbra-color
    }

    @if $--elevation--active-penumbra {
        $shadows:#{$shadows},#{map-get($el--penumbra,$value)} $el--penumbra-color
    }

    @if $--elevation--active-ambient {
        $shadows:#{$shadows},#{map-get($el--ambient,$value)} $el--ambient-color
    }

    @if $isImportant {
        box-shadow: unquote(str-slice(quote($shadows), 2)) !important
    }
    @else {
        box-shadow: unquote(str-slice(quote($shadows), 2))
    }
}