@import "variables";
@import "mixins";


@for $value from 0 through $--elevation--range {

    .e-#{$value} {
        @include _($--elevation--pseudo-defealt) {
            @include _elevation-mix($value);
        }
    }
}


//
.e {
    @extend .e-#{$--elevation--defaultElevation}
}

.e:hover {
    @extend .e-3
}

.e:active {
    @extend .e-6
}

.e:focus {
    @extend .e-8
}

.e-u  {
    --el-u:0;
}
.e-p  {
    --el-p:0;
}
.e-a  {
    --el-a:0;
}