// Elevation
@import "../../../core/design/elevation/variables";
@import "../../../core/design/elevation/mixins";

.swt {
    position: relative;
    display: inline-flex;
    z-index: 1;

    & input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    & input:checked+.swt-hnd::before,
    & input:checked+.swt-hnd .hnd,
    & input:checked+.swt-hnd .hnd::before {
        background-color: rgb(149, 117, 205);
        background-color: var(--clr-s, rgb(149, 117, 205));
    }

    & input:checked+.swt-hnd .hnd {
        transform: translateX(-16px);
    }

    & input:focus+.swt-hnd .hnd::before,
    & input:active+.swt-hnd .hnd::before {
        transform: scale(2)
    }

}

.swt-hnd {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 14px;
    width: 36px;
    border-radius: 100px;

    &::before,
    & .hnd::before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(130, 130, 130, 0.5);
        transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0.5;
        border-radius: inherit;
    }

    & .hnd {
        width: 20px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.98);
        border-radius: 100px;
        transform: translateX(0);
        z-index: 2;
        transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        @include _el-mix(1);

        &::before {
            background-color: rgba(130, 130, 130, 0.2);
            z-index: -1;
            transform: scale(1);
        }
    }
}

[ltr] .swt {
    & input:checked+.swt-hnd .hnd {
        transform: translateX(16px);
    }
}