// display
@include __ {
    .-d-b {
        @include _ {
            display: block !important
        }
    }
    .-d-n {
        @include _ {
        display: none !important
        }
    }
    .-d-i {
        @include _ {
            display: inherit
        }
    }
}

.-d-f {
    display: flex
}

.-d-g {
    display: grid
}

.-d-t {
    display: table
}

.-d-ib {
    display: inline-block
}

.-d-ig {
    display: inline-grid
}

.-d-if {
    display: inline-flex
}

.-d-it {
    display: inline-table
}

.-d-uns {
    display: unset
}
