// Gradient
.-grdnt-t {
    background-image: linear-gradient(to top, var(--grdnt-start, transparent), var(--grdnt-end, rgba(0, 0, 0, 0.6)));
}

.-grdnt-b {
    background-image: linear-gradient(to bottom,var(--grdnt-start, transparent), var(--grdnt-end, rgba(0, 0, 0, 0.6)));
}

.--rtl .-grdnt-e,
.--ltr .-grdnt-s,
.-grdnt-l {
    background-image: linear-gradient(to left, var(--grdnt-start, transparent), var(--grdnt-end, rgba(0, 0, 0, 0.6)));
}

.--rtl .-grdnt-s,
.--ltr .-grdnt-e,
.-grdnt-r {
    background-image: linear-gradient(to right, var(--grdnt-start, transparent), var(--grdnt-end, rgba(0, 0, 0, 0.6)));
}

// center x
.-grdnt-x {
    background-image: linear-gradient(to right, var(--grdnt-start, transparent), var(--grdnt-in, rgba(0, 0, 0, 0.6)), var(--grdnt-end, transparent));
}
// center y
.-grdnt-y {
    background-image: linear-gradient(to bottom, var(--grdnt-start, transparent), var(--grdnt-in, rgba(0, 0, 0, 0.6)), var(--grdnt-end, transparent));
}
