// Gradient
.-g-t {
    background-image: linear-gradient(to top, var(--g-s,var(--c-n)), var(--g-e, rgba(0, 0, 0, 0.6)));
}

.-g-b {
    background-image: linear-gradient(to bottom,var(--g-s,var(--c-n)), var(--g-e, rgba(0, 0, 0, 0.6)));
}

.--rtl .-g-e,
.--ltr .-g-s,
.-g-l {
    background-image: linear-gradient(to left, var(--g-s,var(--c-n)), var(--g-e, rgba(0, 0, 0, 0.6)));
}

.--rtl .-g-s,
.--ltr .-g-e,
.-g-r {
    background-image: linear-gradient(to right, var(--g-s,var(--c-n)), var(--g-e, rgba(0, 0, 0, 0.6)));
}

// center x
.-g-x {
    background-image: linear-gradient(to right, var(--g-s, var(--c-n)), var(--g-in, rgba(90, 90, 90, 0.2)), var(--g-e, var(--c-n)));
}
// center y
.-g-y {
    background-image: linear-gradient(to bottom, var(--g-s, var(--c-n)), var(--g-in, rgba(90, 90, 90, 0.2)), var(--g-e, var(--c-n)));
}
