.\:loaded .tbs {
    animation: anm-init;
}

.tbs {
    position: relative;
    --tbs-x-delay: 0s, 0.2s;
    --tbs-y-delay: 0s, 0.2s;
}

.tbs--rtl {
    --tbs-x-delay: 0.2s, 0s;
}

.tbs--ttb {
    --tbs-y-delay: 0.2s, 0s;
}

[tbs--name="indctr"] {
    position: absolute;
    bottom: 0;
    height: 2px;
    right: calc(var(--tbs-indc-right) * 1px);
    left: calc(var(--tbs-indc-left) * 1px);
    bottom: 0;
    transition-property: top, bottom, right, left;
    will-change: top, bottom, right, left;
    transition-delay: var(--tbs-y-delay), var(--tbs-x-delay);
}

[tbs\:mode="y"] [tbs--name="indctr"] {
    width: 2px;
    height: initial;
    top: calc(var(--tbs-indc-top) * 1px);
    bottom: calc(var(--tbs-indc-bottom) * 1px);
}

.tbs-cntnt .tb:not(.tbs-active) {
    display: none;
}

[md2] [tbs--name="indctr"] {
    border-radius: 6px 6px 0 0;
    height: 3px;
}

[md2] [tbs\:mode="y"] [tbs--name="indctr"] {
    border-radius: 0 6px 6px 0;
    width: 3px;
    height: initial;
}